@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.error {
  display: block;
  color: red;
  width: 100%;
  padding-bottom: 1rem;
  margin-top: -.5rem;
}

.low {
  background-color: red;
}

.moderate {
  background-color: #ff8744;
}

.high {
  background-color: green;
}
